<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="hu.elte.txtuml.export.plantuml.handlers.PlantUMLVisualizeHandler"
            id="hu.elte.txtuml.export.plantuml.plantUMLVisualize"
            name="plantUMLVisualize">
      </command>
      <command
            defaultHandler="hu.elte.txtuml.export.plantuml.handlers.PlantUMLVisualizeSelectedDiagramsHandler"
            id="hu.elte.txtuml.export.plantuml.plantUMLVisualizeSelectedDiagram"
            name="plantUMLVisualizeSelectedDiagram">
      </command>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="hu.elte.txtuml.export.plantuml.handlers.SequenceDiagramDescriptionTester"
            id="hu.elte.txtuml.export.plantuml.SequenceDiagramDescriptionTester"
            namespace="hu.elte.txtuml.export.plantuml"
            properties="hasDescriptionType"
            type="org.eclipse.jdt.core.ICompilationUnit">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="hu.elte.txtuml.export.menu"
               label="txtUML">
            <command
                  commandId="hu.elte.txtuml.export.plantuml.plantUMLVisualize"
                  label="Generate sequence diagrams from txtUML"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?before=additions">
         <command
               commandId="hu.elte.txtuml.export.plantuml.plantUMLVisualizeSelectedDiagram"
               label="Visualize Sequence diagram"
               style="push">
            <visibleWhen>
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <adapt
                           type="org.eclipse.jdt.core.ICompilationUnit">
                        <test
                              property="hu.elte.txtuml.export.plantuml.hasDescriptionType">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer?before=additions">
         <command
               commandId="hu.elte.txtuml.export.plantuml.plantUMLVisualizeSelectedDiagram"
               label="Visualize Sequence diagram"
               style="push">
            <visibleWhen>
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <adapt
                           type="org.eclipse.jdt.core.ICompilationUnit">
                        <test
                              property="hu.elte.txtuml.export.plantuml.hasDescriptionType">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

</plugin>
