<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.elte.txtuml.papyrusdiagramgenerator.handlers.InstantHandler"
            id="org.elte.txtuml.papyrusdiagramgenerator.InstantCommand"
            name="InstantCommand">
      </command>
      <command
            defaultHandler="org.elte.txtuml.papyrusdiagramgenerator.handlers.WizardHandler"
            id="org.elte.txtuml.papyrusdiagramgenerator.WizardCommand"
            name="WizardCommand">
      </command>
      <command
            defaultHandler="org.elte.txtuml.papyrusdiagramgenerator.handlers.PreferencesPageHandler"
            id="org.elte.txtuml.papyrusdiagramgenerator.PreferencePageCommand"
            name="PreferencePageCommand">
      </command>
      <command
            defaultHandler="org.elte.txtuml.papyrusdiagramgenerator.handlers.TxtUMLVisualizeHandler"
            id="org.elte.txtuml.papyrusdiagramgenerator.txtUMLVisualize"
            name="txtUMLVisualize">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
         <command
               commandId="org.elte.txtuml.papyrusdiagramgenerator.InstantCommand"
               icon="icons/sample.png"
               label="*.uml to Papyrus"
               style="push"
               tooltip="Generates a papyrus model from the uml file">
            <visibleWhen
                  checkEnabled="false">
                  <with
                    variable="selection">
                 <iterate
                       ifEmpty="false"
                       operator="or">
                    <adapt
                          type="org.eclipse.core.resources.IResource">
                          <test
                                property="org.eclipse.core.resources.extension"
                                value="uml">
                          </test>
                 	</adapt>
                 </iterate>
              </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="txtUML">
            <command
                  commandId="org.elte.txtuml.papyrusdiagramgenerator.txtUMLVisualize"
                  icon="icons/sample.png"
                  label="Visualize txtUML Model2"
                  style="push">
            </command>
            <command
                  commandId="org.elte.txtuml.papyrusdiagramgenerator.WizardCommand"
                  icon="icons/sample.png"
                  label="uml to Papyrus"
                  style="push">
            </command>
            <separator
                  name="separator"
                  visible="true">
            </separator>
            <command
                  commandId="org.elte.txtuml.papyrusdiagramgenerator.PreferencePageCommand"
                  label="Preferences"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.elte.txtuml.papyrusdiagramgenerator.preferences.PreferencesPage"
            id="org.elte.txtuml.papyrusdiagramgenerator.preferences1"
            name="txtUML Diagram generation">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.elte.txtuml.papyrusdiagramgenerator.preferences.PreferencesInitializer">
      </initializer>
   </extension>

</plugin>
