<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="hu.elte.txtuml.diagnostics.DiagnosticsLaunchDelegate"
            id="hu.elte.txtuml.diagnostics.launchConfigurationTypeDefault"
            modes="run, debug"
            name="txtUML Application">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="hu.elte.txtuml.diagnostics.DefaultLaunchConfigurationTabGroup"
            id="hu.elte.txtuml.diagnostics.launchConfigurationTabGroupDefault"
            type="hu.elte.txtuml.diagnostics.launchConfigurationTypeDefault">
      </launchConfigurationTabGroup>
   </extension>

</plugin>
