<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

    <extension
            point="org.eclipse.ui.editors">
        <editor
              class="hu.elte.txtuml.xtxtuml.ui.XtxtUMLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
              contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
              default="true"
              extensions="txtuml,xtxtuml"
              icon="icons/xtxtuml_file.gif"
              id="hu.elte.txtuml.xtxtuml.XtxtUML"
              matchingStrategy="hu.elte.txtuml.xtxtuml.ui.XtxtUMLExecutableExtensionFactory:org.eclipse.xtext.xbase.ui.editor.JavaEditorInputMatcher"
              name="XtxtUML Editor">
        </editor>
    </extension>
    <extension
        point="org.eclipse.ui.handlers">
        <handler
            class="hu.elte.txtuml.xtxtuml.ui.XtxtUMLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
            commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
            <activeWhen>
                <reference
                    definitionId="hu.elte.txtuml.xtxtuml.XtxtUML.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
        <handler
            class="hu.elte.txtuml.xtxtuml.ui.XtxtUMLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
            commandId="hu.elte.txtuml.xtxtuml.XtxtUML.validate">
         <activeWhen>
            <reference
                    definitionId="hu.elte.txtuml.xtxtuml.XtxtUML.Editor.opened">
            </reference>
         </activeWhen>
      	</handler>
      	<!-- copy qualified name -->
        <handler
            class="hu.elte.txtuml.xtxtuml.ui.XtxtUMLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedNameHandler"
            commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName">
            <activeWhen>
				<reference definitionId="hu.elte.txtuml.xtxtuml.XtxtUML.Editor.opened" />
            </activeWhen>
        </handler>
        <handler
            class="hu.elte.txtuml.xtxtuml.ui.XtxtUMLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedNameHandler"
            commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName">
            <activeWhen>
            	<and>
            		<reference definitionId="hu.elte.txtuml.xtxtuml.XtxtUML.XtextEditor.opened" />
	                <iterate>
						<adapt type="org.eclipse.xtext.ui.editor.outline.IOutlineNode" />
					</iterate>
				</and>
            </activeWhen>
        </handler>
    </extension>
    <extension point="org.eclipse.core.expressions.definitions">
        <definition id="hu.elte.txtuml.xtxtuml.XtxtUML.Editor.opened">
            <and>
                <reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="hu.elte.txtuml.xtxtuml.XtxtUML" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
        <definition id="hu.elte.txtuml.xtxtuml.XtxtUML.XtextEditor.opened">
            <and>
                <reference definitionId="isXtextEditorActive"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="hu.elte.txtuml.xtxtuml.XtxtUML" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
    </extension>
    <extension
            point="org.eclipse.ui.preferencePages">
        <page
            class="hu.elte.txtuml.xtxtuml.ui.XtxtUMLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="hu.elte.txtuml.xtxtuml.XtxtUML"
            name="XtxtUML">
            <keywordReference id="hu.elte.txtuml.xtxtuml.ui.keyword_XtxtUML"/>
        </page>
        <page
            category="hu.elte.txtuml.xtxtuml.XtxtUML"
            class="hu.elte.txtuml.xtxtuml.ui.XtxtUMLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
            id="hu.elte.txtuml.xtxtuml.XtxtUML.coloring"
            name="Syntax Coloring">
            <keywordReference id="hu.elte.txtuml.xtxtuml.ui.keyword_XtxtUML"/>
        </page>
        <page
            category="hu.elte.txtuml.xtxtuml.XtxtUML"
            class="hu.elte.txtuml.xtxtuml.ui.XtxtUMLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
            id="hu.elte.txtuml.xtxtuml.XtxtUML.templates"
            name="Templates">
            <keywordReference id="hu.elte.txtuml.xtxtuml.ui.keyword_XtxtUML"/>
        </page>
    </extension>
    <extension
            point="org.eclipse.ui.propertyPages">
        <page
            class="hu.elte.txtuml.xtxtuml.ui.XtxtUMLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="hu.elte.txtuml.xtxtuml.XtxtUML"
            name="XtxtUML">
            <keywordReference id="hu.elte.txtuml.xtxtuml.ui.keyword_XtxtUML"/>
            <enabledWhen>
	            <adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
	        <filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
        </page>
    </extension>
    <extension
        point="org.eclipse.ui.keywords">
        <keyword
            id="hu.elte.txtuml.xtxtuml.ui.keyword_XtxtUML"
            label="XtxtUML"/>
    </extension>
    <extension
         point="org.eclipse.ui.commands">
      <command
            description="Trigger expensive validation"
            id="hu.elte.txtuml.xtxtuml.XtxtUML.validate"
            name="Validate">
      </command>
      <!-- copy qualified name -->
      <command
            id="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
            categoryId="org.eclipse.ui.category.edit"
            description="Copy the qualified name for the selected element"
            name="Copy Qualified Name">
      </command>
      <command
            id="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName"
            categoryId="org.eclipse.ui.category.edit"
            description="Copy the qualified name for the selected element"
            name="Copy Qualified Name">
      </command>
    </extension>
    <extension point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
             <command
                 commandId="hu.elte.txtuml.xtxtuml.XtxtUML.validate"
                 style="push"
                 tooltip="Trigger expensive validation">
            <visibleWhen checkEnabled="false">
                <reference
                    definitionId="hu.elte.txtuml.xtxtuml.XtxtUML.Editor.opened">
                </reference>
            </visibleWhen>
         </command>  
         </menuContribution>
         <!-- copy qualified name -->
         <menuContribution locationURI="popup:#TextEditorContext?after=copy">
         	<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName" 
         		style="push" tooltip="Copy Qualified Name">
            	<visibleWhen checkEnabled="false">
                	<reference definitionId="hu.elte.txtuml.xtxtuml.XtxtUML.Editor.opened" />
            	</visibleWhen>
         	</command>  
         </menuContribution>
         <menuContribution locationURI="menu:edit?after=copy">
         	<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
            	style="push" tooltip="Copy Qualified Name">
            	<visibleWhen checkEnabled="false">
                	<reference definitionId="hu.elte.txtuml.xtxtuml.XtxtUML.Editor.opened" />
            	</visibleWhen>
         	</command>  
         </menuContribution>
         <menuContribution locationURI="popup:org.eclipse.xtext.ui.outline?after=additions">
			<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName" 
				style="push" tooltip="Copy Qualified Name">
         		<visibleWhen checkEnabled="false">
	            	<and>
	            		<reference definitionId="hu.elte.txtuml.xtxtuml.XtxtUML.XtextEditor.opened" />
						<iterate>
							<adapt type="org.eclipse.xtext.ui.editor.outline.IOutlineNode" />
						</iterate>
					</and>
				</visibleWhen>
			</command>
         </menuContribution>
    </extension>
    <extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
			<command commandId="org.eclipse.xtext.ui.editor.FindReferences">
				<visibleWhen checkEnabled="false">
                	<reference definitionId="hu.elte.txtuml.xtxtuml.XtxtUML.Editor.opened">
                	</reference>
            	</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
	    <handler
            class="hu.elte.txtuml.xtxtuml.ui.XtxtUMLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
            commandId="org.eclipse.xtext.ui.editor.FindReferences">
            <activeWhen>
                <reference
                    definitionId="hu.elte.txtuml.xtxtuml.XtxtUML.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
    </extension>   

<!-- adding resource factories -->

	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="hu.elte.txtuml.xtxtuml.ui.XtxtUMLExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="txtuml">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
        <resourceServiceProvider
            class="hu.elte.txtuml.xtxtuml.ui.XtxtUMLExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
            uriExtension="txtuml">
        </resourceServiceProvider>
    </extension>

	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="hu.elte.txtuml.xtxtuml.ui.XtxtUMLExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="xtxtuml">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
        <resourceServiceProvider
            class="hu.elte.txtuml.xtxtuml.ui.XtxtUMLExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
            uriExtension="xtxtuml">
        </resourceServiceProvider>
    </extension>


	<!-- marker definitions for hu.elte.txtuml.xtxtuml.XtxtUML -->
	<extension
	        id="xtxtuml.check.fast"
	        name="XtxtUML Problem"
	        point="org.eclipse.core.resources.markers">
	    <super type="org.eclipse.xtext.ui.check.fast"/>
	    <persistent value="true"/>
	</extension>
	<extension
	        id="xtxtuml.check.normal"
	        name="XtxtUML Problem"
	        point="org.eclipse.core.resources.markers">
	    <super type="org.eclipse.xtext.ui.check.normal"/>
	    <persistent value="true"/>
	</extension>
	<extension
	        id="xtxtuml.check.expensive"
	        name="XtxtUML Problem"
	        point="org.eclipse.core.resources.markers">
	    <super type="org.eclipse.xtext.ui.check.expensive"/>
	    <persistent value="true"/>
	</extension>

   <extension
         point="org.eclipse.xtext.builder.participant">
      <participant
            class="hu.elte.txtuml.xtxtuml.ui.XtxtUMLExecutableExtensionFactory:org.eclipse.xtext.builder.IXtextBuilderParticipant"
            fileExtensions="txtuml,xtxtuml"
            >
      </participant>
   </extension>
   <extension
            point="org.eclipse.ui.preferencePages">
        <page
            category="hu.elte.txtuml.xtxtuml.XtxtUML"
            class="hu.elte.txtuml.xtxtuml.ui.XtxtUMLExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
            id="hu.elte.txtuml.xtxtuml.XtxtUML.compiler.preferencePage"
            name="Compiler">
            <keywordReference id="hu.elte.txtuml.xtxtuml.ui.keyword_XtxtUML"/>
        </page>
    </extension>
    <extension
            point="org.eclipse.ui.propertyPages">
        <page
            category="hu.elte.txtuml.xtxtuml.XtxtUML"
            class="hu.elte.txtuml.xtxtuml.ui.XtxtUMLExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
            id="hu.elte.txtuml.xtxtuml.XtxtUML.compiler.propertyPage"
            name="Compiler">
            <keywordReference id="hu.elte.txtuml.xtxtuml.ui.keyword_XtxtUML"/>
            <enabledWhen>
	            <adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
	        <filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
        </page>
    </extension>
    <extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?after=xtext.ui.openDeclaration">
			<command
				commandId="org.eclipse.xtext.ui.OpenGeneratedFileCommand"
				id="hu.elte.txtuml.xtxtuml.XtxtUML.OpenGeneratedCode"
				style="push">
					<visibleWhen checkEnabled="false">
						<reference definitionId="hu.elte.txtuml.xtxtuml.XtxtUML.Editor.opened" />
					</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
		<handler
			class="hu.elte.txtuml.xtxtuml.ui.XtxtUMLExecutableExtensionFactory:org.eclipse.xtext.ui.generator.trace.OpenGeneratedFileHandler"
			commandId="org.eclipse.xtext.ui.OpenGeneratedFileCommand">
				<activeWhen>
					<reference definitionId="hu.elte.txtuml.xtxtuml.XtxtUML.Editor.opened" />
				</activeWhen>
		</handler>
	</extension>

	<!-- Quick Outline -->
	<extension
		point="org.eclipse.ui.handlers">
		<handler 
			class="hu.elte.txtuml.xtxtuml.ui.XtxtUMLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.outline.quickoutline.ShowQuickOutlineActionHandler"
			commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline">
			<activeWhen>
				<reference
					definitionId="hu.elte.txtuml.xtxtuml.XtxtUML.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Open the quick outline."
			id="org.eclipse.xtext.ui.editor.outline.QuickOutline"
			name="Quick Outline">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline"
				style="push"
				tooltip="Open Quick Outline">
				<visibleWhen checkEnabled="false">
					<reference definitionId="hu.elte.txtuml.xtxtuml.XtxtUML.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
    <!-- quickfix marker resolution generator for hu.elte.txtuml.xtxtuml.XtxtUML -->
    <extension
            point="org.eclipse.ui.ide.markerResolution">
        <markerResolutionGenerator
            class="hu.elte.txtuml.xtxtuml.ui.XtxtUMLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="hu.elte.txtuml.xtxtuml.ui.xtxtuml.check.fast">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
        <markerResolutionGenerator
            class="hu.elte.txtuml.xtxtuml.ui.XtxtUMLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="hu.elte.txtuml.xtxtuml.ui.xtxtuml.check.normal">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
        <markerResolutionGenerator
            class="hu.elte.txtuml.xtxtuml.ui.XtxtUMLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="hu.elte.txtuml.xtxtuml.ui.xtxtuml.check.expensive">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
    </extension>
   	<!-- Rename Refactoring -->
	<extension point="org.eclipse.ui.handlers">
		<handler 
			class="hu.elte.txtuml.xtxtuml.ui.XtxtUMLExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.DefaultRenameElementHandler"
			commandId="org.eclipse.xtext.ui.refactoring.RenameElement">
			<activeWhen>
				<reference
					definitionId="hu.elte.txtuml.xtxtuml.XtxtUML.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
    <extension point="org.eclipse.ui.menus">
         <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
         <command commandId="org.eclipse.xtext.ui.refactoring.RenameElement"
               style="push">
            <visibleWhen checkEnabled="false">
               <reference
                     definitionId="hu.elte.txtuml.xtxtuml.XtxtUML.Editor.opened">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension point="org.eclipse.ui.preferencePages">
	    <page
	        category="hu.elte.txtuml.xtxtuml.XtxtUML"
	        class="hu.elte.txtuml.xtxtuml.ui.XtxtUMLExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.RefactoringPreferencePage"
	        id="hu.elte.txtuml.xtxtuml.XtxtUML.refactoring"
	        name="Refactoring">
	        <keywordReference id="hu.elte.txtuml.xtxtuml.ui.keyword_XtxtUML"/>
	    </page>
	</extension>

<!-- Type Hierarchy  -->
	<extension
		point="org.eclipse.ui.handlers">
		<handler 
			class="hu.elte.txtuml.xtxtuml.ui.XtxtUMLExecutableExtensionFactory:org.eclipse.xtext.xbase.ui.hierarchy.OpenTypeHierarchyHandler"
			commandId="org.eclipse.xtext.xbase.ui.hierarchy.OpenTypeHierarchy">
			<activeWhen>
				<reference
					definitionId="hu.elte.txtuml.xtxtuml.XtxtUML.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
		<handler 
			class="hu.elte.txtuml.xtxtuml.ui.XtxtUMLExecutableExtensionFactory:org.eclipse.xtext.xbase.ui.hierarchy.QuickTypeHierarchyHandler"
			commandId="org.eclipse.jdt.ui.edit.text.java.open.hierarchy">
			<activeWhen>
				<reference
					definitionId="hu.elte.txtuml.xtxtuml.XtxtUML.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
		<handler
            class="hu.elte.txtuml.xtxtuml.ui.XtxtUMLExecutableExtensionFactory:org.eclipse.xtext.xbase.ui.imports.OrganizeImportsHandler"
            commandId="org.eclipse.xtext.xbase.ui.organizeImports">
           	<activeWhen>
				<reference
					definitionId="hu.elte.txtuml.xtxtuml.XtxtUML.Editor.opened">
				</reference>
			</activeWhen>
        </handler>
	</extension>
	<extension point="org.eclipse.ui.menus">
	    <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
             <command
                 commandId="org.eclipse.xtext.xbase.ui.organizeImports"
                 style="push"
                 tooltip="Organize Imports">
                <visibleWhen checkEnabled="false">
                    <reference
                        definitionId="hu.elte.txtuml.xtxtuml.XtxtUML.Editor.opened">
                    </reference>
                </visibleWhen>
            </command>  
        </menuContribution>
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.xbase.ui.hierarchy.OpenTypeHierarchy"
				style="push"
				tooltip="Open Type Hierarchy">
				<visibleWhen checkEnabled="false">
					<reference definitionId="hu.elte.txtuml.xtxtuml.XtxtUML.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.jdt.ui.edit.text.java.open.hierarchy"
				style="push"
				tooltip="Quick Type Hierarchy">
				<visibleWhen checkEnabled="false">
					<reference definitionId="hu.elte.txtuml.xtxtuml.XtxtUML.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<!-- Call Hierachy -->
	<extension
		point="org.eclipse.ui.handlers">
		<handler 
			class="hu.elte.txtuml.xtxtuml.ui.XtxtUMLExecutableExtensionFactory:org.eclipse.xtext.xbase.ui.hierarchy.OpenCallHierachyHandler"
			commandId="org.eclipse.xtext.xbase.ui.hierarchy.OpenCallHierarchy">
			<activeWhen>
				<reference
					definitionId="hu.elte.txtuml.xtxtuml.XtxtUML.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.xbase.ui.hierarchy.OpenCallHierarchy"
				style="push"
				tooltip="Open Call Hierarchy">
				<visibleWhen checkEnabled="false">
					<reference definitionId="hu.elte.txtuml.xtxtuml.XtxtUML.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension
         point="org.eclipse.core.runtime.adapters">
      <factory class="hu.elte.txtuml.xtxtuml.ui.XtxtUMLExecutableExtensionFactory:org.eclipse.xtext.builder.smap.StratumBreakpointAdapterFactory"
         adaptableType="org.eclipse.xtext.ui.editor.XtextEditor">
         <adapter type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget"/>
      </factory> 
   </extension>
   <extension point="org.eclipse.ui.editorActions">
      <editorContribution targetID="hu.elte.txtuml.xtxtuml.XtxtUML" 
                          id="hu.elte.txtuml.xtxtuml.XtxtUML.rulerActions">
	     <action
	             label="Not Used"
	             class="hu.elte.txtuml.xtxtuml.ui.XtxtUMLExecutableExtensionFactory:org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
	             style="push"
	             actionID="RulerDoubleClick"
	             id="hu.elte.txtuml.xtxtuml.XtxtUML.doubleClickBreakpointAction"/>
	  </editorContribution>
   </extension>
   <extension point="org.eclipse.ui.popupMenus">
      <viewerContribution
         targetID="hu.elte.txtuml.xtxtuml.XtxtUML.RulerContext"
         id="hu.elte.txtuml.xtxtuml.XtxtUML.RulerPopupActions">
         <action
            label="Toggle Breakpoint"
            class="hu.elte.txtuml.xtxtuml.ui.XtxtUMLExecutableExtensionFactory:org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
            menubarPath="debug"
            id="hu.elte.txtuml.xtxtuml.XtxtUML.rulerContextMenu.toggleBreakpointAction">
         </action>
         <action
            label="Not used"
            class="hu.elte.txtuml.xtxtuml.ui.XtxtUMLExecutableExtensionFactory:org.eclipse.debug.ui.actions.RulerEnableDisableBreakpointActionDelegate"
            menubarPath="debug"
            id="hu.elte.txtuml.xtxtuml.XtxtUML.rulerContextMenu.enableDisableBreakpointAction">
         </action>
         <action
           label="Breakpoint Properties"
           helpContextId="breakpoint_properties_action_context"
           class="hu.elte.txtuml.xtxtuml.ui.XtxtUMLExecutableExtensionFactory:org.eclipse.jdt.debug.ui.actions.JavaBreakpointPropertiesRulerActionDelegate"
           menubarPath="group.properties"
           id="hu.elte.txtuml.xtxtuml.XtxtUML.rulerContextMenu.openBreapointPropertiesAction">
         </action>
      </viewerContribution>
   </extension>
    <!-- Introduce Local Variable Refactoring -->
	<extension point="org.eclipse.ui.handlers">
		<handler 
			class="hu.elte.txtuml.xtxtuml.ui.XtxtUMLExecutableExtensionFactory:org.eclipse.xtext.xbase.ui.refactoring.ExtractVariableHandler"
			commandId="org.eclipse.xtext.xbase.ui.refactoring.ExtractLocalVariable">
			<activeWhen>
				<reference
					definitionId="hu.elte.txtuml.xtxtuml.XtxtUML.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
    <extension point="org.eclipse.ui.menus">
         <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
         <command commandId="org.eclipse.xtext.xbase.ui.refactoring.ExtractLocalVariable"
               style="push">
            <visibleWhen checkEnabled="false">
               <reference
                     definitionId="hu.elte.txtuml.xtxtuml.XtxtUML.Editor.opened">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>  
   <!-- Open implementation -->
   <extension point="org.eclipse.ui.handlers">
      <handler
            class="hu.elte.txtuml.xtxtuml.ui.XtxtUMLExecutableExtensionFactory:org.eclipse.xtext.xbase.ui.navigation.OpenImplementationHandler"
            commandId="org.eclipse.xtext.xbase.ui.OpenImplementationCommand">
            <activeWhen>
				<reference
					definitionId="hu.elte.txtuml.xtxtuml.XtxtUML.Editor.opened">
				</reference>
			</activeWhen>
      </handler>
   </extension>
 <extension point="org.eclipse.ui.menus">
       <menuContribution
            locationURI="menu:navigate?after=open.ext4">
         <command commandId="org.eclipse.xtext.xbase.ui.OpenImplementationCommand">
		<visibleWhen checkEnabled="false">
              <reference
                 definitionId="hu.elte.txtuml.xtxtuml.XtxtUML.Editor.opened">
              </reference>
		</visibleWhen>
         </command>
      </menuContribution>
   </extension>

  <extension point="org.eclipse.compare.contentViewers">
    <viewer id="hu.elte.txtuml.xtxtuml.XtxtUML.compare.contentViewers"
            class="hu.elte.txtuml.xtxtuml.ui.XtxtUMLExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="txtuml,xtxtuml">
    </viewer>
  </extension>
  <extension point="org.eclipse.compare.contentMergeViewers">
    <viewer id="hu.elte.txtuml.xtxtuml.XtxtUML.compare.contentMergeViewers"
            class="hu.elte.txtuml.xtxtuml.ui.XtxtUMLExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="txtuml,xtxtuml" label="XtxtUML Compare">
     </viewer>
  </extension>
  <extension point="org.eclipse.ui.editors.documentProviders">
    <provider id="hu.elte.txtuml.xtxtuml.XtxtUML.editors.documentProviders"
            class="hu.elte.txtuml.xtxtuml.ui.XtxtUMLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.model.XtextDocumentProvider"
            extensions="txtuml,xtxtuml">
    </provider>
  </extension>
  <extension point="org.eclipse.team.core.fileTypes">
    <fileTypes
            extension="txtuml"
            type="text">
    </fileTypes>
    <fileTypes
            extension="xtxtuml"
            type="text">
    </fileTypes>
  </extension>

</plugin>
