<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   
   <extension
         point="org.eclipse.ui.commands">
<!--
      <command
            defaultHandler="hu.elte.txtuml.export.papyrus.handlers.InstantHandler"
            id="hu.elte.txtuml.export.papyrus.InstantCommand"
            name="InstantCommand">
      </command>
      <command
            defaultHandler="hu.elte.txtuml.export.papyrus.handlers.WizardHandler"
            id="hu.elte.txtuml.export.papyrus.WizardCommand"
            name="WizardCommand">
      </command>
-->
      <command
            defaultHandler="hu.elte.txtuml.export.papyrus.handlers.PreferencesPageHandler"
            id="hu.elte.txtuml.export.papyrus.PreferencePageCommand"
            name="Set txtUML diagram generation preferences">
      </command>
      <command
            defaultHandler="hu.elte.txtuml.export.papyrus.handlers.PapyrusVisualizeHandler"
            id="hu.elte.txtuml.export.papyrus.PapyrusVisualize"
            name="Generate Papyrus diagrams from txtUML">
      </command>
	  <command
            defaultHandler="hu.elte.txtuml.export.papyrus.handlers.PapyrusVisualizeSelectedDiagramsHandler"
            id="hu.elte.txtuml.export.papyrus.PapyrusVisualizeSelectedDiagram"
            name="Visualize as Papyrus diagram...">
      </command>
   </extension>
   <extension point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            namespace="hu.elte.txtuml.export.papyrus"
            id="hu.elte.txtuml.export.papyrus.DiagramDescriptionTester"
            properties="hasDescriptionType"
            type="org.eclipse.jdt.core.ICompilationUnit"
            class="hu.elte.txtuml.export.papyrus.handlers.DiagramDescriptionTester">
     </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
<!--
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
         <command
               commandId="hu.elte.txtuml.export.papyrus.InstantCommand"
               icon="icons/uml_papyrus.png"
               label="Generate diagrams from UML"
               style="push"
               tooltip="Generates Papyrus diagrams from the .uml file">
            <visibleWhen
                  checkEnabled="false">
                  <with
                    variable="selection">
                 <iterate
                       ifEmpty="false"
                       operator="or">
                    <adapt
                          type="org.eclipse.core.resources.IResource">
                          <test
                                property="org.eclipse.core.resources.extension"
                                value="uml">
                          </test>
                 	</adapt>
                 </iterate>
              </with>
            </visibleWhen>
         </command>
      </menuContribution>
-->
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="hu.elte.txtuml.export.menu"
               label="txtUML">
            <command
                  commandId="hu.elte.txtuml.export.papyrus.PapyrusVisualize"
                  icon="icons/txtUML_papyrus.png"
                  label="Generate Papyrus diagrams from txtUML"
                  style="push">
            </command>
<!--
            <command
                  commandId="hu.elte.txtuml.export.papyrus.WizardCommand"
                  icon="icons/uml_papyrus.png"
                  label="Generate diagrams from UML"
                  style="push">
            </command>
-->
            <command
                  commandId="hu.elte.txtuml.export.papyrus.PreferencePageCommand"
                  label="Diagram generation preferences"
                  style="push">
            </command>
         </menu>
      </menuContribution>

      <menuContribution 
          locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?before=additions">
          <command
              commandId="hu.elte.txtuml.export.papyrus.PapyrusVisualizeSelectedDiagram"
              icon="icons/txtUML_papyrus.png"
              label="Visualize as Papyrus diagram..."
              style="push">
              <visibleWhen>
                  <with variable="activeMenuSelection">
                     <iterate ifEmpty="false" operator="and">
                          <adapt type="org.eclipse.jdt.core.ICompilationUnit">
                              <test property="hu.elte.txtuml.export.papyrus.hasDescriptionType"/>
                          </adapt>
                      </iterate>
                  </with>
              </visibleWhen>
          </command>
      </menuContribution>
      
      <menuContribution 
          locationURI="popup:org.eclipse.jdt.ui.PackageExplorer?before=additions">
          <command
              commandId="hu.elte.txtuml.export.papyrus.PapyrusVisualizeSelectedDiagram"
              icon="icons/txtUML_papyrus.png"
              label="Visualize as Papyrus diagram..."
              style="push">
              <visibleWhen>
                  <with variable="activeMenuSelection">
                     <iterate ifEmpty="false" operator="and">
                          <adapt type="org.eclipse.jdt.core.ICompilationUnit">
                              <test property="hu.elte.txtuml.export.papyrus.hasDescriptionType"/>
                          </adapt>
                      </iterate>
                  </with>
              </visibleWhen>
          </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="hu.elte.txtuml.export.papyrus.preferences.PreferencesPage"
            id="hu.elte.txtuml.export.papyrus.preferences1"
            name="txtUML Diagram Generation">
      </page>
   </extension>
   <extension point="org.eclipse.ui.startup">
      <startup class="hu.elte.txtuml.export.papyrus.handlers.Startup"/>
   </extension>

</plugin>
