<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   
   <extension
         point="org.eclipse.ui.commands">
<!--
      <command
            defaultHandler="hu.elte.txtuml.export.papyrus.handlers.InstantHandler"
            id="hu.elte.txtuml.export.papyrus.InstantCommand"
            name="InstantCommand">
      </command>
      <command
            defaultHandler="hu.elte.txtuml.export.papyrus.handlers.WizardHandler"
            id="hu.elte.txtuml.export.papyrus.WizardCommand"
            name="WizardCommand">
      </command>
-->
      <command
            defaultHandler="hu.elte.txtuml.export.papyrus.handlers.TxtUMLVisualizeHandler"
            id="hu.elte.txtuml.export.papyrus.txtUMLVisualize"
            name="txtUMLVisualize">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
<!--
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
         <command
               commandId="hu.elte.txtuml.export.papyrus.InstantCommand"
               icon="icons/uml_papyrus.png"
               label="Generate diagrams from UML"
               style="push"
               tooltip="Generates Papyrus diagrams from the .uml file">
            <visibleWhen
                  checkEnabled="false">
                  <with
                    variable="selection">
                 <iterate
                       ifEmpty="false"
                       operator="or">
                    <adapt
                          type="org.eclipse.core.resources.IResource">
                          <test
                                property="org.eclipse.core.resources.extension"
                                value="uml">
                          </test>
                 	</adapt>
                 </iterate>
              </with>
            </visibleWhen>
         </command>
      </menuContribution>
-->
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="hu.elte.txtuml.export.menu"
               label="txtUML">
            <command
                  commandId="hu.elte.txtuml.export.papyrus.txtUMLVisualize"
                  icon="icons/txtUML_papyrus.png"
                  label="Generate diagrams from txtUML"
                  style="push">
            </command>
<!--
            <command
                  commandId="hu.elte.txtuml.export.papyrus.WizardCommand"
                  icon="icons/uml_papyrus.png"
                  label="Generate diagrams from UML"
                  style="push">
            </command>
-->
         </menu>
      </menuContribution>
   </extension>

</plugin>
