<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="hu.elte.txtuml.api.model.execution.handlers.RunSelectedSequenceDiagramHandler"
            id="hu.elte.txtuml.api.model.execution.runSelectedSequenceDiagramCommand"
            name="runSelectedSequenceDiagramCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?before=additions">
         <command
               commandId="hu.elte.txtuml.api.model.execution.runSelectedSequenceDiagramCommand"
               label="Run sequence diagram"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <adapt
                           type="org.eclipse.jdt.core.ICompilationUnit">
                        <test
                              property="hu.elte.txtuml.api.model.execution.hasDescriptionType">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer?before=additions">
         <command
               commandId="hu.elte.txtuml.api.model.execution.runSelectedSequenceDiagramCommand"
               label="Run sequence diagram"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <adapt
                           type="org.eclipse.jdt.core.ICompilationUnit">
                        <test
                              property="hu.elte.txtuml.api.model.execution.hasDescriptionType">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="hu.elte.txtuml.api.model.execution.handlers.SequenceDiagramDescriptionTester"
            id="hu.elte.txtuml.api.model.execution.SequenceDiagramDescriptionTester"
            namespace="hu.elte.txtuml.api.model.execution"
            properties="hasDescriptionType"
            type="org.eclipse.jdt.core.ICompilationUnit">
      </propertyTester>
   </extension>

</plugin>
