<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="mirrors" sequenceNumber="18">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="org.eclipse.jdt.feature.group" version="3.12.2.v20161124-1400"/>
			<unit id="org.eclipse.platform.ide" version="4.6.2.M20161124-1400"/>
			<repository location="http://mextest.inf.elte.hu/updates/mirrors/eclipse-core-4.6.2"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="org.eclipse.papyrus.sdk.feature.feature.group" version="2.0.2.201612071107"/>
			<unit id="org.eclipse.emf.sdk.feature.group" version="2.12.0.v20160526-0356"/>
			<unit id="org.eclipse.xtext.xbase.lib.feature.group" version="2.10.0.v201605250459"/>
			<unit id="org.eclipse.xtext.runtime.feature.group" version="2.10.0.v201605250459"/>
			<unit id="org.eclipse.xtext.ui.feature.group" version="2.10.0.v201605250459"/>
			<unit id="org.eclipse.xtext.xbase.feature.group" version="2.10.0.v201605250459"/>
			<unit id="org.eclipse.xtext.xtext.ui.feature.group" version="2.10.0.v201605250459"/>
			<unit id="org.eclipse.cdt.feature.group" version="9.2.0.201612061315"/>
			<repository location="http://mextest.inf.elte.hu/updates/mirrors/eclipse-neon.2"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="org.powermock.mockito-junit.feature.feature.group" version="1.5.6.0"/>
			<repository location="http://mextest.inf.elte.hu/updates/mirrors/powermock-osgi"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="org.eclipse.persistence.sdk.feature.group" version="2.6.4.v20160829-44060b6"/>
			<repository location="http://mextest.inf.elte.hu/updates/mirrors/eclipselink"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="net.sourceforge.plantuml.feature.feature.group" version="1.1.19"/>
			<repository location="http://files.idi.ntnu.no/publish/plantuml/repository/"/>
		</location>
	</locations>
	<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.8"/>
</target>

